<h1>Bird Sightings</h1>

<div class="new-bird">

<h2>Add a new bird</h2>

<form method = "POST" action="/addBird">
	Name: <input name="name" required/>
	<br>Decription: <input name='description'/>
	<br>Average Eggs: <input type= 'number' min='1' max='40' value='1' name='averageEggs'/>
	<br>Endangered? <input type='checkbox' name='endangered'/>
	<br>Nest Location: <input name='nestLocation'>
	<br>Nest Materials: <input name='nestMaterials'>
	<br><input type='submit' value='Submit Entry'>
</form>
	<div class='flash-errors'>
		{{#if messages}}
		<p class="error-message">{{messages.error}}</p>
		{{/if}}
	</div>

</div>

<div class="bird-name-list">

	<h2>Bird List</h2>
	
	<div class='bird-summary'>
	
		{{#each birds}}
			<h3>{{this.name}}</h3>
			<p>{{this.description}}</p>
			<p><a href="/bird/{{this._id}}">{{this.name}} info and sightings</a></p>
			
			{{! A button to delete the bird from the DB }}
			<form action='/delete' method='POST' class='delete_form'>
				<input type='hidden' name='_id' value='{{bird._id}}'>
				<input class='deleteButton' type='submit' name='delete' value='Delete'>
			</form>

		{{else}}
			<p>No birds in the database.</p>
			{{/each}}
		
	</div>
	
</div>